@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&display=swap");

.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: fit-content;
}

h2 {
  text-align: left;
}

.App {
  text-align: center;
  font-family: "Abhaya Libre", serif;
}

.answerHighLevel {
  display: flex;
  justify-content: center;
}

button {
  background-color: #2d9cdb;
  color: #fff;
  border-radius: 5px;
  font-family: "Abhaya Libre", serif;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1f80b7;
}

input {
  font-family: "Abhaya Libre", serif;
  font-size: 30px;
  border: none;
}

.inputBox {
  display: flex;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
}
